/* Row */

.row-banner {
	display: flex;
	justify-content: center;
	margin-top: 7vh;
}

/* Column */

.col-input {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	margin-right: 5vw;
}

.col-banner {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

/* Tags */

input {
	width: 30vw;
	height: 5vh;
}

.img-banner {
	height: 40vh;
	width: 15vw;
}

.bi-search {
	margin-top: 1.2vh;
	margin-right: 0.5vw;
}

.form-control {
	width: 40%;
}

.profile {
	cursor: pointer;
	margin-right: 2vw;
	margin-top: 5vh;
	width: 3.5vw;
	height: 4.5vh;
}

.p-filmes {
	text-align: center;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.pagination {
	margin-top: 15vh;
	display: flex;
	justify-content: center;
}